<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="style/styles.css">

</head>
<body>
    <div class="form-container">
        <h1>Create New Blog</h1>
        <form action="/create" method="POST">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="describtion" placeholder="Description">
            <input type="text" name="time" placeholder="Time">
            <input type="number" name="rating" placeholder="Rating out of 10">
            <button type="submit">Create</button>
        </form>
    </div>
   
</body>
</html>