</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const d = new Date();
  let year = d.getFullYear(); %>
  <p style="position: absolute; bottom: 10px;">Copyright © <%= year %></p>
</footer>
</body>

</html>